.banner {
    height: 75px;
    margin: 0px -10px 10px;
    background-color: #00e6ac;
    border-radius: 4px;
}

.banner h2{
    font: 30px "Times";

    color: white;
    padding-top: auto;
    display: inline-block;
    margin:18px 0 18px 2%;
}
.myparagraph{
	border: 1px;
	font: 20px "Open Sans";
	line-height: 1.7em;
    overflow: scroll;
}

.myparagraph h4{
    font: 20px "Open Sans";
	color: #00e6ac;

}
.myparagraph h5{
    font: 20px "Open Sans";
	color: #00e6ac;
}
